a.add-to-cart {
	width: 216px;
	height: 48px;
	background: #ffab00;
	font-size: 18px;
	line-height: 48px;
	letter-spacing: 2px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	border-radius: 24px;
	text-decoration: none;
	text-align: center;
	display: block;
	box-shadow: 0 3px 6px rgba(255, 171, 0, 0.16), 0 3px 6px rgba(255, 171, 0, 0.23);
	
}

a.add-to-cart:hover{
     background-color:red;

}
a.add-to-cart:active{
    background-color: salmon;
}


a.cart {
	width: 72px;
	height: 72px;
	border-radius: 36px;
	text-align: center;
	color: #616161;
	text-decoration: none;
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 9;
	display: block;
	background: #535558 url(http://images.vfl.ru/ii/1484930184/14435803/15757225.png
) center no-repeat;
	background-size: 36px;
	box-shadow: 0 3px 6px rgba(97, 97, 97 0.16), 0 3px 6px rgba(97, 97, 97 0.23);
}

a.cart > span {
	width: 24px;
	height: 24px;
	font-size: 16px;
	color: #fff;
	line-height: 24px;
	position: absolute;
	border-radius: 12px;
	display: block;
	transform: scale(0);
	margin: auto;
	background: #ffab00;
	box-shadow: 0 3px 6px rgba(255, 171, 0, 0.16) ;
}

a.cart > span.counter {
	left: 48px;
	bottom: 48px;
	transition: .2s linear;
	transform: scale(1);
}