@media (max-width: 1323px){

    .contenter{
    transition: 1s;
    width: 800px;
    height: 570px;
    flex-wrap: wrap;
}
#img1{
    background-color: teal;
    width: 100%;
    height: calc(50% - 10px);
    margin-bottom: 10px;
}
#img2{
    width: calc(50% - 5px);
    height: 50%;
    margin-right: 5px;
}
#img3{
    width: calc(50% - 5px);
    height: 50%;
    margin-left: 5px;

}
}