* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.navbar .nav-in {
  background-color: black;
  width: 100%;
  max-width: 1600px;
  padding: 0 6.5%;
  margin: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-in a {
  color: white;
}

.navbar .nav-in .logo .logoimg {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 174px;
}

.navbar .nav-in .logo .logoimg:hover .box {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .nav-in .logo .logoimg:hover .box:nth-child(1) {
  background-color: red;
}

.navbar .nav-in .logo .logoimg:hover .box:nth-child(2) {
  background-color: green;
}

.navbar .nav-in .logo .logoimg:hover .box:nth-child(3) {
  background-color: blue;
}

.navbar .nav-in .logo .logoimg:hover .box:nth-child(4) {
  background-color: yellow;
}

.navbar .nav-in .logo .logoimg .box {
  background-color: white;
  width: 44%;
  height: 44%;
}

.navbar .nav-in .logo .logoimg .box:nth-child(1) {
  margin: 0 0.5px 0.5px 0;
}

.navbar .nav-in .logo .logoimg .box:nth-child(2) {
  margin: 0 0 0.5px 0.5px;
}

.navbar .nav-in .logo .logoimg .box:nth-child(3) {
  margin: 0 0.5px 0 0;
}

.navbar .nav-in .logo .logoimg .box:nth-child(4) {
  margin: 0 0 0 0.5px;
}

.navbar .nav-in .SiteTitle {
  margin-right: auto;
}

.navbar .nav-in .action li {
  display: inline-block;
}

.navbar .nav-in .action li a {
  padding: 0 45px;
}

.content {
  width: 100%;
  max-width: 1600px;
  background-color: black;
  padding: 77px 0 60px 0;
  color: white;
  margin: auto;
}

.content .content-1 {
  width: 100%;
  padding: 0 6.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .content-1 .inner1 {
  width: 30%;
}

.content .content-1 .inner1 .in-title h2 {
  color: #4fe5ff;
  font-size: 64px;
  line-height: 80px;
}

.content .content-1 .inner1 .in-in {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.content .content-1 .inner2 {
  width: 70%;
  height: 100%;
  text-align: center;
  position: relative;
}

.content .content-1 .inner2 .in-L {
  position: absolute;
  bottom: 100px;
  left: 50px;
}

.content .content-1 .inner2 .in-R {
  top: 20px;
  right: 35px;
  position: absolute;
}

.content2 {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  position: relative;
}

.content2::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #2280c8;
  z-index: 1;
}

.content2::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #5fcf63;
  z-index: 1;
}

.content2 .content2-1 {
  width: 100%;
  padding: 0 6.5%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.content2 .content2-1 .con2LR {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content2 .content2-1 .con2LR .card {
  width: 25%;
  padding: 27px 27px;
  border: 0;
  color: black;
}

.content2 .content2-1 .con2LR .card:nth-child(1) {
  background-color: #258ede;
}

.content2 .content2-1 .con2LR .card:nth-child(2) {
  background-color: #4fe5ff;
}

.content2 .content2-1 .con2LR .card:nth-child(3) {
  background-color: #cf8fff;
}

.content2 .content2-1 .con2LR .card:nth-child(4) {
  background-color: #69e56e;
}

.content2 .content2-1 .con2LR .card .cardimg {
  padding-bottom: 140px;
}

.content3 .devimg {
  width: 100%;
  height: 100vh;
  background-image: url("./img/msft_verge_fluent.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.content3 .devimg .devtext {
  width: 100%;
  padding: 0 6.5%;
}

.content3 .devimg .devtext .devh {
  font-size: 78px;
  line-height: 150px;
  font-weight: 600;
}

.content3 .devimg .devtext .devh h2 {
  margin-top: 0 !important;
}

.content3 .devimg .devtext .devp {
  max-width: 362px;
  font-size: 18px;
  font-weight: 400;
}

.content4 {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  background-color: #191919;
  color: white;
  position: relative;
}

.content4 .ballimg {
  width: 100%;
  padding: 0 6.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}

.content4 .ballimg .con4line {
  position: absolute;
  right: 140px;
  top: -200px;
}

.content4 .ballin {
  width: 100%;
  padding: 0 6.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content4 .ballin .ballin1 {
  width: 430px;
  padding-left: 100px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.content4 .ballin .ballin1 p {
  margin: 0 !important;
}
/*# sourceMappingURL=style v2.css.map */